{% macro bar_chart(chart_id, title, x_data, y_data, xaxis_title, yaxis_title) %}
<div class="chart-container">
    <div class="chart-title">{{ title }}</div>
    <div id="{{ chart_id }}" style="height:400px;"></div>
</div>

<script>
    const barData = {
        x: {{ x_data | tojson }},
        y: {{ y_data | tojson }},
        type: 'bar',
        marker: {
            color: '#2a5298',
            line: {color: 'white', width: 1}
        },
        name: '{{ title }}'
    };
    
    const barLayout = {
        title: '{{ title }}',
        xaxis: {title: '{{ xaxis_title }}'},
        yaxis: {title: '{{ yaxis_title }}'},
        plot_bgcolor: 'rgba(0,0,0,0)',
        paper_bgcolor: 'rgba(0,0,0,0)',
        font: {color: '#333'}
    };
    
    Plotly.newPlot('{{ chart_id }}', [barData], barLayout, {responsive: true});
</script>
{% endmacro %}
